.footer-top {
  background-color: #ff1744;
}

.footer-top::before {
  content:'';
  display: inline-block;
}

.footer-bottom {
  background-color: #262d34;
  padding: 40px 0 28px;
}

.footer-title {
  font-size: 18px;
  line-height: 14px;
  vertical-align: middle;
  color: #a5adb8;
  margin-bottom: 12px;
}

.footer-list-border-top {
  border-top: 1px solid;
  border-color: #191c20;
}
.footer-list-border-bottom {
  border-bottom: 1px solid;
  border-color: #40474f;
}

.footer-description {
  color: #a5adb8;
}