.hero {
  background-color: #282d33;
  padding: 44px 29px 38px;
}

.hero-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 14px;
  margin: 0;
  color: #ffffff;
}

.hero-subtitle {
  font-size: 18px;
  line-height: 14px;
  margin: 0;
  padding-top: 2px;
  color: #c9c7c7;
}

.hero-content {
  font-size: 18px;
  line-height: 14px;
  color: #ffffff;
  margin: 18px 0 0 0;
}

.hero-description {
  max-width: 486px;
  line-height: 18px;
  color: #c9c7c7;
  margin-top: 9px;
}